{% extends "base.html" %}
{% block title %}
Weather App
{% endblock title %}
{% block content %}

    <h4 class="w3-jumbo w3-animate-top">

    {% if results %}
    <label class="weather-title">{{ city|capfirst }}</label>
    <ul class="search-result-table">
    <li class="search-result-column">Państwo: {{ country_code }}</li>
    <li class="search-result-column">Dane geograficzne: {{ coordinate }}</li>
    <li class="search-result-column">Temperaura: {{ temp|floatformat }} C</li>
    <li class="search-result-column">Ciśnienie atmosferyczne: {{ pressure|floatformat }} hPa</li>
    <li class="search-result-column">Wilgotność: {{ humidity }} %</li>
    <ul>
    <a href="/"><div class="button" id="button-5">
    <div id="translate"></div>
    Sprawdź ponownie
  </div></a>

    {% else %}
    <form method="post" action="/">
    {% csrf_token %}
    <div class="form__group field">
    {% if message %}
    {{ message }}
    {% endif %}
    <input type="input" class="form__field" placeholder="Miasto" name="city" id='name' required />
    <label for="cityc" class="form__label">Miasto</label>
    </div>
    <input type="submit" value="Sprawdź pogodę">
    </form>
    {% endif %}
    
    </h4>
    
{% endblock content %}
